.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
header {
    background: var(--main-bg);
    color: #ffffff;
    padding: 1rem 0;
    border-bottom: var(--secondary-bg) 3px solid;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    padding: 0 10px;
}

header .highlight,
header .current a {
    color: var(--secondary-bg);
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
}